[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

django = "~=1.11"
django-flat-responsive = "*"
djangorestframework = "~=3.6.3"
drf-nested-routers = "*"
django-rest-swagger = "*"
dj-database-url = "==0.4.2"
"psycopg2" = "~=2.6"
faker = "*"
openpyxl = "*"
whitenoise = "~=3.3"
gunicorn = "~=19.7"
django-export-action = "*"


[dev-packages]

pylint = "~=1.7"
pycodestyle = "~=2.3"
pydocstyle = "~=2.0"
pytest = "~=3.0.7"
pytest-django = "*"
pytest-describe = "==0.11.0"
pytest-expecter = "==0.2.2.post6"
pytest-cov = "*"
pytest-randomly = "*"
pytest-catchlog = "*"
coverage = "~=4.0"
"coverage.space" = "~=0.8"
honcho = "*"
splinter = "*"
fire = "*"
sniffer = "*"
